.page-header .content-center.brand {
    width: 60%;
}

.index-page .squares.square {
    animation: move-left-right 2s infinite;
    height: 250px;
    width: 50%;
    opacity: 0.1;
    left: 25%;
    bottom: 33%;
    border-radius: unset;
}

.navbar {
    background: #ff5b4f;
}

li.style {
        display:table;
        margin:0px auto 0px auto;
}

.footer {
    border-top: unset;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color : transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: mediumspringgreen;
    outline: 1px solid slategrey;
    border-radius: 5em;
}


@media all and (max-width: 1200px) {
    .index-page .squares.square {
        display: none;
    }
}